* {
    margin: 0;
}

/* Navigation  bar */
nav {
    background-color: black;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    overflow: hidden;
}

nav ul li {
    display: inline-block;
    /*background-color: palevioletred;*/
    margin: 0px -4px 0px 0px;  /* -4 resolve spacing issue with inline property */
    padding: 0;
    border: 0px;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 0.5em;
    color: white;
    font-family: Arial;
    font-size: 1.75em;
}

.selected {
    background-color: dodgerblue;
    color: white;
}

nav a:hover {
    color: black;
}

nav ul a:hover {
    background-color: silver;
}

nav a:active {
    color: white;
}

/* Intro Statement */
div.intro {
    height: 100vh;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url('images/background_intro.jpg');
    background-size: 100%;
}

h2.intro {
    display: block;
    color: black;
    text-align: right;
    margin: 0;
    size: 1em;
}

p.intro {
    margin: 0;
}

div.intro-text {
    float: right;
    background: rgba(248, 241, 241, 0.4);
    margin-top: 5vh;
    margin-right: 5vw;
    margin-bottom: 5vh;
}

.intro-h2 {
    font-family: Dubai;
    padding: 0 1em 0 1em;
    font-size: 3em;
}

.intro-p {
    font-family: Dubai;
    text-align: right;
    padding: 0 1em 0 1em;
    font-size: 1.5em;
}

/* About */
div.about {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url('images/background_about.jpg');
    height: 100vh;

    background-size: 100%;
}

div.button {
    margin: auto;
    width: 99%;
    text-align: center;
}

div.button button a.btn {
    text-decoration: none;
}
